*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/**HEADER**/
header .container-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
   /** background-color: rgb(130, 222, 243);**/
    min-width: 100%;
}
header .header-left{
    height: 30px;
}
header .link{
   /**background-color: orange;
    border: 1px dashed black;**/
}
header  .content{
    height: 30px;
    display: flex;
    /**  background-color: orange;
    border: 1px dashed black;**/
}
.link a{
    color: black;
    text-decoration: none;
    margin: 4px;
    font-size: 15px;
    padding: 10px;
}
.link ul{
    display: flex;
}
.link li{
    list-style-type: none;
    margin-left: 20px;
    margin-right: 10px;
}
.button {
 display: flex;
 align-items: center;
 text-align: center;
 white-space: nowrap;
 text-decoration: none;
 line-height: 1.2;
 font-size: 0.8em;
 border-radius: 0px;
 padding: 8px 16px;
 border: none;
 cursor: pointer;
 font-family: 'Open Sans', sans-serif;
}
.blue{
    background-color: #0F5EE7;
    color: #FFFFFF;
}
/**MAIN**/
.hero-banner{
    min-height: 100px;
    padding-bottom: 90px;
}
.hero-banner .wrapper{
    background-color: rgb(185, 207, 229)
}
.hero-banner .container-big{
    max-width: 1250px;
}
.hero-banner .title{
    margin-left: auto;
    margin-right: auto;
}
.hero-banner h1{
    padding: 40px;
    font-size: 4em;
    font-weight: 900px;
}
.hero-banner .box-banner{
    display: flex;
    justify-content: center;
}
.left{
    min-height: 250px;
    width: 325px;
}
.box-banner .left .title-hero{
    margin-bottom: 30px;
}
.box-banner .left .subtitle-hero{
    margin-top: 30px;
    margin-bottom: 40px;
}
.box-banner .left .icon{
    font-size: 40px;
}

.right{
    width: 833px;
    height: 400px;
    position: relative;
}
.hero-banner .box-banner .right img{
height: 120%;
   position: absolute;
   top: 0;
   left: 0;
}
.container{
   /* background-color: blueviolet;*/
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.business-plan h2{
    margin-bottom: 30px;
    margin-top: 30px;
}
.checkboxes{
    display: flex;
    margin-bottom: 40px;
}
.checkboxes .checkbox{
    margin-right: 40px;
}
.columns{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 30px;
}
.business-plan .column {
    width: calc((100% / 3) - 30px);
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    padding: 15px;
}
.columns .icon{
    font-size: 15px;
    text-align: center;
}
.columns .title-column{
    font-weight: 700;
    margin-bottom: 10px;
}
.columns .price{
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 10px;
}
.columns .time{
    font-weight:300;
    color: rgb(189, 188, 188);
    margin-bottom: 20px;
}
.columns li{
    list-style-type: none;
    margin-bottom: 15px;
}
.column .button{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}
.column .buy{
    font-size: 0.7em;
    margin-bottom: 20px;
}
.column .buy a{
    color: rgb(51, 142, 216);
}
.column hr{
    width: 40px;
}
.column .plane{
    margin-top: 30px;
    display: inline-block;
}
.column .plane h4{
    margin-bottom: 30px;
}
.column .plane li{
    font-size: 0.8em;
}
.business-plan .row{
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    padding: 10px;
}
.business-plan .icon.row{
    text-align: center;
}

.business-plan .second{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.business-plan .row-left{
    width: 65%;
    padding: 10px;
}
.business-plan .row-left *{
    margin-bottom: 20px;
}
.business-plan .row-left .info{
    font-size: 0.9em;
}
.business-plan .row-right{
    margin-top: 20px;
}
.partner .boxes{
    display: flex;
    margin-bottom: 50px;
}
.partner .box-right{
    width: 500px;
    height: 400px;
}
.partner .box-right img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.partner .box-left{
    width: 420px;
    min-height: 400px;
}
.partner .box-left .find{
padding: 60px;
}
.partner .box-left .find *{
    margin-bottom: 20px;
}
.subtitle{
    margin-bottom: 50px;
    font-size: 1.5em;
}
.operations .column-characteristics{
    width: calc(100% / 3);
}
.operations .column-characteristics{
    width: 285px;
    height: 470px;
} 
.operations .column-characteristics .image{
    width: 285px;
    height: 210px;
    margin-bottom: 20px;
}
.operations .column-characteristics .image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.title-img{
    margin-bottom: 20px;
    font-size: 1.2em;
}
.text{
    margin-top: 50px;
}
.text .title-text{
    margin-bottom: 20px;
   font-size: 2em;
}
.text a{
    color:#0F5EE7;
}
.special-box{
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
}
.square{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.square img{
    width: 25%;
    min-width: 125px;
}
.small{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square .one{
    background-color:rgb(172, 210, 116) ;
    border: 10px solid rgb(218, 235, 208);
}
.square .two{
    background-color:rgb(89, 19, 43) ;
}
.square .three{
    background-color:rgb(64, 145, 201) ;
}
.square .four{
    background-color:rgb(234, 59, 47) ;
}
.square .five{
    background-color:rgb(195, 41, 43) ;
}
.square .six{
    background-color:rgb(185, 207, 229) ;
}
.square .seven{
    background-color:rgb(19, 35, 124) ;
}
.square .eight{
    background-color:rgb(249, 218, 86) ;
}
.square.big{
   align-items: flex-start;
   background-color:rgb(195, 41, 43) ;
  /* background-color: rgb(245, 245, 245);*/
   color: black;
}
.square .big img{
    min-width: 200px;
}
.banner{
    background-color: rgb(185, 207, 229);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.banner .title-banner{
    font-size:1.3em;
    width: 30%;
    color: rgb(87, 14, 29);
}
.questions{
    margin-top: 70px;
}
.questions .title-question{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 2em;
}
.question{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.question i{
    margin-right: 40px;
}
.footer{
    background-color: black;
    width: 100%;
}
.top .column-box{
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.top .column-box .column{
    border: 1px dashed white;
    min-height: 450px;
    width: 200px;
}
.footer-box{
    margin-left: auto;
    margin-right: auto;
}

/**FOOTER**/