*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/**HEADER**/
header .container-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: rgb(130, 222, 243);
    min-width: 100%;
}
header .header-left{
    height: 30px;
}
header .link{
    background-color: orange;
    border: 1px dashed black;
}
header  .content{
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    display: flex;
}
/**MAIN**/
.hero-banner{
    min-height: 100px;
    padding-bottom: 30px;
}
.hero-banner .wrapper{
    background-color: rgb(23, 23, 161);
}
.hero-banner h1{
    padding: 40px;
    text-align: center;
}
.hero-banner .box-banner{
    display: flex;
    justify-content: center;
}
.left{
    background-color: rgb(56, 145, 234);
    min-height: 250px;
    width: 500px;
    border: 1px dashed black;
   
}
.right{
    background-color: rgb(234, 56, 216);
    width: 500px;
    border: 1px dashed black;
}
.container{
    background-color: blueviolet;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.business-plan h2{
    margin: 20px;
}
.business-plan .btn{
    line-height: center;
    margin-bottom: 30px;
}
.business-plan .btn-toolset {
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #FFFFFF;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-family: sans-serif;
 font-size: 18px;
 background-color: #FFFFFF;
 border-radius: 29px;
 padding: 7px 7px;
 border: 3px solid #E6E6E6;
 cursor: pointer;
}
.btn-toolset:hover {
 background-color: #000000;
 border-color: #000000;
}
.btn-toolset > strong {
 font-size: 24px;
}
.columns{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 30px;
}
.business-plan .column {
    width: calc((100% / 3) - 30px);
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
}
.business-plan .row{
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    padding: 10px;
}
.business-plan .first{
    text-align: center;
}
.business-plan .second{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.business-plan .row-left{
    width: 80%;
}

.partner .boxes{
    display: flex;
    margin-bottom: 50px;
}
.subtitle{
    margin-bottom: 15px;
}
.operations .column-characteristics{
    width: calc(100% / 3);
}
.operations .column-characteristics .img{
    width: 200px;
    background-color: antiquewhite;
}
.title-img{
    margin-bottom: 20px;
}
.text{
    margin-top: 50px;
}
.text .title-text{
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.special-box{
    margin-top: 40px;
    display: flex;
    align-items: center;
    border: 1px dashed black;
    width: 100%;
    height: 400px;
}
.square{
    background-color: red;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.square img{
    width: 25%;
    min-width: 50px;
}
.small{
    background-color: deeppink;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square.big{
   align-items: flex-start;
}
.banner{
    background-color: rgb(185, 207, 229);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 70px;
}
.questions{
    margin-top: 70px;
}
.question{
    padding: 20px;
}
.footer{
    background-color: black;
    width: 100%;
}
.top .column-box{
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.top .column-box .column{
    border: 1px dashed white;
    min-height: 450px;
    width: 200px;
}
.footer-box{
    margin-left: auto;
    margin-right: auto;
}

/**FOOTER**/